<ul class="collection with-header">
  <li class="collection-header"><h4>Products</h4></li>
  <% @products.each do |product| %>
    <li class="collection-item"><div><%= product.name %>
      <%= link_to "/products/#{product.id}", class: "secondary-content" do %>
      <i class="material-icons">send</i>
    <% end %>
  </div></li>
  <% end %>
</ul>
